.myimg {
	width: 57%;
}
.myimg2{
	width: 58%;
}
.r3{
	width: 95%;
}
.r2{
	width: 85%;
}
.r1{
	width: 93%;
}
h1{
	color: #142966;
}
body{
	background-color: #142966;
}
.first-row{
	background-color: white;
}
div{
	margin: 50pxs;
}
h2{
	color: #142966;
}
.myimg2{
	margin: 20px;
}
.r1{
	margin: 30px;
}
.r2{
	margin: 30px;
}
.r3{
	margin: 30px;
}
h2{
	color: #142966;
}