.myimg {
	width: 57%;
}
.myimg2{
	width: 58%;
}
.r3{
	width: 95%;
}
.r2{
	width: 85%;
}
.r1{
	width: 93%;
}
h1{
	color: #142966;
}
body{
	background-color: #142966;
}
.first-row{
	background-color: white;
}
div{
	margin: 50pxs;
}
h2{
	color: #142966;
}
.myimg2{
	margin: 20px;
}
.r1{
	margin: 30px;
}
.r2{
	margin: 30px;
}
.r3{
	margin: 30px;
}

/* Style the navbar */
#navbar {
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: #142966;
}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: beige;
  text-align: center;
  padding: 14px;
  text-decoration:blink;
}

/* Page content */
.content {
  padding: 16px;
}

.mycl{
	padding-top: 20px;
}